.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #367c2b;
  border: 1px solid #367c2b;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #ffde00;
  border-color: #ffde00;
  color: black;
}
